name: Docker Image Push

on:
  push:
    tags:
      - "*"

env:
  IMAGE_NAME: nova-libvirt
  KOLLA_VERSION: "20.3.0"

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install kolla-build
        run: |
          pip install kolla==${{ env.KOLLA_VERSION }}
          pip install docker
          apt install docker.io

      - name: Set up tag
        id: vars
        run: |
          TAG_NAME="${GITHUB_REF##refs/tags/}"
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push image with kolla-build
        run: |
          kolla-build --base ubuntu \
            --template-override template-overrides.j2 \
            --tag ${{ steps.vars.outputs.tag_name }} \
            --registry ghcr.io \
            --namespace ${GITHUB_REPOSITORY_OWNER,,} \
            --push \
            nova-libvirt
